
/********GENERAL*******/

body, html { overflow-x: hidden; }

.container-fluid { padding: 0;}

@font-face {
font-family: 'garcia';
src: url('fonts/Garcia-Regular.ttf');
}

* {
    font-family: 'garcia', sans-serif;
}

h2, h3, h4 {
    font-size: 2rem;
    font-family: 'Old Standard TT', serif;
    text-transform: uppercase;
}

h1 {
    font-family: 'Old Standard TT', serif;
    text-transform: uppercase;

}

a:visited {
    color: none;
}

a:hover {
    color:none;
}

a {
    color: black;
}

.btn {
    background-color: black;
    border-color: black;
}

.btn:hover {
    background-color: #383d41;
    border-color: #383d41;
}

/**** qTranslate ***/

.menu-item {
    padding-top: 0.5rem;
}

/****WOOCOMMERCE ******/

.add-to-card {
    color: white;
}

.price {
    padding-bottom: 0.3rem;
}

ul {
    list-style:none;
}

/* .resume-numero ul .product img {
    max-width: 70%;
} */

ul .product img {
    max-width: 150rem;
}

/**************HEADER************/
.fixed-top {
    background-color: white;
}

.logo div {
    margin-left: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

.mr-auto .nav-item {
    margin-right: 2.5vw;
}

.mr-auto .nav-item:hover {
    border-bottom: 1px solid black;
}

.mr-auto .nav-item:last-child {
    margin-right: 2.5vw;
}

.pull-right .nav-item {
    margin-right: 1vw;
}

.navbar-brand {
    margin-left: 1vw;
}


header{
 font-size: 1.25rem;
 text-transform: uppercase;
}

/* Retrait de la fleche du dropdown*/
.dropdown-toggle::after {
    display:none
}

/*décalage de la page pour menu fixe*/
.conteneur-principal {
    margin-top: 62px;
}

/****************FOOTER**********/
footer {
    margin-top: 200px;
    background-color: black;
    color: white;
}
.mailpoet_paragraph {
    display: inline-block;
}

.illu img {
        width: 100%;
        display: block;
}

.illu {
    background-color: white;
    color: black;
}

.sous-illu {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.asso {
    text-align: left;
    display: inline-block;
    line-height: 2rem;
}

.bas-page {
    font-size: 0.75rem;
}

.bas-page a{

    border-right: 1px solid white;
    line-height: 0.8rem;
    color: white;
}


.bas-page a:last-child{
    border-right: none;
}


.fa-instagram, .fa-facebook-f, .fa-twitter {
    font-size: 30px;
    color: black;
    margin-top: 10px;
}

.social {
    background-color: #CFCFCF;
    min-width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 1.5rem;
}

.social:hover {
    background-color: #d5d8d738;
}

footer .row:last-child {
    padding-bottom: 3px;
    margin-left: 10px;
    margin-right: 10px;
}


/******Contact*******/

.titre-section {
    width: max-width;
    border-bottom: 3px solid black;
    margin-bottom: 50px;
}

.contact {
    width: auto;
    text-align: center;
}

.formulaire {
    margin-bottom: 50px;
}

.asso-contact {
    margin-top: 20px;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea
{
    background-color: #E6E6E6;
    color: #8A8A8C;
    border: none;
    padding: 8px;
}

.wpcf7-form p {
    margin-bottom: -1rem;
}

.wpcf7-form .requis {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-align: left;
    margin-left: 20vw;
}

.wpcf7-form div {
    margin-top: 1rem;
}

.wpcf7-submit {
    margin-left: 50px;
}

@media (min-width:768px) {

    .wpcf7-form .requis {
        margin-left: 0px;
    }

    .wpcf7-submit {
        float: right;
    }

	.formulaire {
	    margin-right: 6.25rem;
        margin-left: 6.25rem;
	}

    .map-google {
        margin-left: 6.25rem;
        margin-right: 6.25rem;
    }

    .titre-section {
        margin-left: 6.25rem;
        width: 50%;
    }

    .asso-contact {
        text-align: left;
    }

    p label, p label input {
        width: 100%;
    }

    .wpcf7 {
        text-align: left;
    }
}

/*****************page Mentions légales************/
.mention {
    text-align: center;
    margin-top: 7rem;
}
.mention h1 {
    margin-top: 0;
    margin-bottom: 4rem;
}

.mention p {
    margin-bottom: 1.5rem;
}

.hebergement {
    text-align: left;
}

@media (min-width:768px) {

    .mention {
        text-align: left;
        margin-left: 5.5rem;
        margin-right: 5.5rem;
    }
}

/********** page cgv **********/

.cgv {
    max-width: 70%;
    margin: auto;
}

/*******page  HOME ******/

/*** section principal ***/

.bg-principal {
    height: 94vh;
}

.bg-principal h1 {
    padding-top: 30vh;
    font-size: 3.8rem;
    font-style: italic;
    color: white;

}

.bg-principal h2 {
    margin-top: 7.5vh;
    font-size: 2.25rem;
    font-family: 'garcia', sans-serif;
    color: white;
}

/*** manisfeste ***/

.manifeste div{
    z-index: 1;
    text-align: center;
}

.manifeste div{

    background-color: white;
    margin: auto;
    margin-top: -20vh;
    padding-bottom: 5rem;
    width: 80vw;
}


.manifeste img {
    width: 50px;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.manifeste h3 {
    margin-bottom: 2.5rem;
    font-weight: bold;
}

.manifeste p {
    margin: auto;
    width: 70vw;
}

@media (min-width:768px) {

    .manifeste img {
        width: 3vw;
    }

    .manifeste div {
        width: 50vw;
    }

    .manifeste p {
        margin: auto;
        width: 45vw;
    }
}
/*** Section découverte ****/

.deco-decouverte {
    margin: auto;
    width: 15vw;
    border-bottom: 2px solid black;
}

.decouverte {
    margin-bottom: 5rem;
}

.decouverte h3 {
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.decouverte .p-2 img {
    max-width: 30vw;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.61);
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.61);
}

.decouverte button {
    width: 100%;
    margin-top: 1.25rem;
}
/** Section slider **/

.slider .img-fluid{
    margin: auto;
}


/** Section présentation numéro **/

.presentation-numero {
    margin-top: 5rem;
    padding-top: 1.25rem;
    text-align: center;
}

.presentation-numero .deco-presentation {
    width: 4.5vw;
    border-top: 2px solid black;
    margin: auto;
}
.presentation-numero h3 {
    font-weight: bold;
}
.presentation-numero h4 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.presentation-numero p {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}

.presentation-numero button {
    margin-bottom: 2.5rem;
}

/** Section extrait **/

.extraits {
    margin: 2.5rem 2vw 2.5rem 2vw;
    font-weight: bold;
}

.extraits h3 {
    font-weight: bold;
    width: 30vw;
    border-bottom: 2px solid black;
    padding-bottom: 0.5rem;
}

.extraits h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2.15rem;
    margin-bottom: 2.15rem;
}
.extraits img {
    max-width: 28rem;
}
.extraits .extrait-1-img-1 {
    padding-top: 3.125rem;
    padding-right: 20vw;
}

.extraits .extrait-1-img-1 img {
    -webkit-box-shadow: -50px -50px 0px 0px #CFCFCF;
    -moz-box-shadow: -50px -50px 0px 0px #CFCFCF;
    box-shadow: 20vw -50px 0px 0px #CFCFCF;
}

.extraits .extrait-2-img-2 {
    padding-top: 3.125rem;
    padding-left: 20vw;

}

.extraits .extrait-2-img-2 img {
    -webkit-box-shadow: -50px -50px 0px 0px #CFCFCF;
    -moz-box-shadow: -50px -50px 0px 0px #CFCFCF;
    box-shadow: -20vw -50px 0px 0px #CFCFCF;
}

.extraits button {
    margin-top: 1.25rem;
}

@media (min-width:768px) {

    .extraits{
        margin: 2.5rem 15vw 2.5rem 15vw;
    }

    .extraits h3 {

        width: 15rem;;
        border-bottom: 2px solid black;
        padding-bottom: 8px;
    }

    .extraits .extrait-1 {
        padding: 5rem 3vw 9.375rem 3vw;
        border-left: 8px solid #CFCFCF;
    }

    .extraits .extrait-1-img-1 {
        padding-top: 3.125rem;
        padding-right: 0;
        text-align: left !important;
    }

    .extraits .extrait-1-img-1 img {
        -    -webkit-box-shadow: 125px -38px 0px 0px #CFCFCF;
        -moz-box-shadow: 125px -38px 0px 0px #CFCFCF;
        box-shadow: 125px -38px 0px 0px #CFCFCF;
    }

    .extraits .extrait-2-img-2 {
        padding-left: 3.125rem;
        padding-top: 0;
        text-align: left !important;
        margin-top: -3.125rem;
    }

    .extraits .extrait-2-img-2 img {
        box-shadow: none;
    }

    .extraits .extrait-2 {
        padding: 0 6vw 7.5rem 0;
    }

    .extraits .extrait-2-deco {
        border: 4px solid #CFCFCF;
        margin-left: 5vw;;
        width: 25rem;
    }
}

/********** Section SnapWidget ****/

.snapwidget {
    text-align: center;
}

.snapwidget h3 {
    font-weight: bold;
    width: 15.63rem;;
    margin: auto;
    padding: 2.5rem 0 0.625rem 0;
    border-top: 2px solid black;
}

.snapwidget p {
    font-family: 'Old Standard TT', serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

.snapwidget iframe {
    padding-left: 5vw;
    padding-right: 5vw;
}


/******* page revue ************/

/** section haut de page **/

.top-numero {
    height: 94vh;
    background-color: green;
}

.top-numero h1 {
    padding-top: 12vh;
    padding-left: 15vw;
    font-size: 6.25rem;
    color: white;
}

.top-numero h2 {
    padding-left: 15vw;
    text-transform:capitalize;
    font-size: 3rem;
    color: white;
}

@media (min-width:768px) {
    .top-numero h1 {
        padding-left: 25vw;
    }

    .top-numero h2 {
        padding-left: 25vw;
    }
}

/*** section resume-numero **/

.resume-numero {
    font-weight: bold;
    margin: 5.5rem 5vw;
}

.resume-numero .col-md-3 {
    text-align: center;
    margin-top: 2.5rem;
}

.resume-numero img {
    max-width: 11.25rem;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.61);
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.61);
}

.resume-numero h2, .resume-numero h3 {
    margin-top: 1.2rem;
    margin-bottom: 0;
    text-transform: capitalize;
}



.resume-numero div p {
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}

@media (min-width:768px) {

    .resume-numero {
        margin: 5.5rem 12vw;
    }

    .resume-numero .col-md-3 {
        margin-top: 0;
    }
}

/** Zone slider **/
/** Voir zone slider de la page home **/

/** zone extraits **/
/** Voir la zone extraits de la page home **/

.extraits-numero h3 {
    width: 50vw;
}

.extraits-numero article:last-child .extrait-1, .extraits-numero article:last-child .extrait-2  {
    padding-bottom: 0;
}

@media (min-width:768px) {
    .extraits-numero h3 {
        width: 30vw;
    }
}

/** Zone contributeurs **/

.contributeurs {
    margin: 4rem 5vw;;
}

.contributeurs h3 {
    margin-left: 10vw;
    width: 50vw;
    padding-bottom: 0.3rem;
    border-bottom: 2px solid black;
    font-weight: bold;
}

.contributeurs article {
    width: 17rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 4rem;
}

.contributeurs article h4 {
    margin-top: 2rem;
}

.contributeurs .lien_contrib a {
    text-decoration: underline;
    color: black;
}

@media (min-width:768px) {

    .contributeurs h3 {

        width: 30vw;

    }
}

/**section produits-page-numero **/

.produits-page-numero h2 {
    margin-top: 1.2rem;
    margin-bottom: 0;
    text-transform: capitalize;
}

.produits-page-numero h3 {
    width: 50vw;
    padding-bottom: 0.3rem;
    border-bottom: 2px solid black;
    font-weight: bold;
}

.produits-page-numero .d-flex {
    margin-top: 4.5rem;

}

.produits-page-numero article h4 {
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.produits-page-numero article p {
    font-weight: bold;
    margin-top: 0;
}


@media (min-width:768px) {

    .produits-page-numero {
        margin-right: 15vw;
        margin-left: 15vw;
    }

    .produits-page-numero h3 {
        width: 30vw;

    }
}

/*** Page Editions Paradisiers ****/

/**** Sous-menu ****/

.sous-menu {
    display: none;
}

@media (min-width:1300px) {
    .sous-menu {
        font-size: 1.25rem;
        display: block;
        padding: 16px 25vw;
        text-transform: uppercase;

    }
}
/**** Top Paradisier ***/

.top-paradisier {
    height: 88vh;
    background-color: green;
}

.top-paradisier h1 {
    padding-top: 12vh;
    padding-left: 15vw;
    font-size: 4rem;
    color: white;
    text-transform: capitalize;
}

.top-paradisier h1 span {
    display: block;
    font-family: 'Old Standard TT', serif;
    padding-left: 7.5vw;
}

@media (min-width:768px) {
    .top-paradisier h1 {
        padding-left: 20vw;
        font-size: 6.25rem;
    }

    .top-paradisier h1 span {
        padding-left: 10vw;
    }
}


/***  Zone Manifeste ***/
/** Voir zone manifeste de la home **/
.manifeste-paradisier div p {
    text-align: justify;
}
.manifeste-paradisier div{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/** Zone fondateurs **/

.fondateurs {
    margin: 4rem 5vw;;
}

.fondateurs h3 {
    margin-left: 10vw;
    width: 50vw;
    padding-bottom: 0.3rem;
    border-bottom: 2px solid black;
    font-weight: bold;
}

.fondateurs article {
    width: 30rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 4rem;
}

.fondateurs article h4 {
    margin-top: 2rem;
}

.fondateurs .lien_contrib a {
    text-decoration: underline;
    color: black;
}

@media (min-width:768px) {

    .fondateurs h3 {

        width: 30vw;

    }
}

/** Zone collaborateurs **/

.collaborateurs {
    margin: 4rem 5vw;;
}

.collaborateurs h3 {
    margin-left: 10vw;
    width: 70vw;
    padding-bottom: 0.3rem;
    border-bottom: 2px solid black;
    font-weight: bold;
}

.collaborateurs article {
    width: 25rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 4rem;
}

.collaborateurs article h4 {
    margin-top: 2rem;
}

.collaborateurs .lien_contrib a {
    text-decoration: underline;
    color: black;
}

@media (min-width:768px) {

    .collaborateurs h3 {

        width: 30vw;

    }
}

/** Zone remerciements **/

.remerciements {
    padding-top: 2rem;
    background-color: #CECECE;
    text-align: center;
}

.remerciements h3 {
    font-family: 'Old Standard TT', serif;
    font-weight: bold;
}
