
/********GENERAL*******/

@font-face {
font-family: 'garcia';
src: url('fonts/Garcia-Regular.ttf');
}

* {
    font-family: 'garcia', sans-serif;
}

h2, h3, h4 {
    font-size: 1.5rem;
    font-family: 'Old Standard TT', serif;
    text-transform: uppercase;
}

h1 {
    font-family: 'Old Standard TT', serif;
    text-transform: uppercase;

}

a:visited {
    color: none;
}

/**************HEADER************/

.mr-auto .nav-item {
    margin-right: 2.5vw;
}

.mr-auto .nav-item:hover {
    border-bottom: 1px solid black;
}

.mr-auto .nav-item:last-child {
    margin-right: 2.5vw;
}

.pull-right .nav-item {
    margin-right: 1vw;
}

.navbar-brand {
    margin-left: 1vw;
}


header{
 font-size: 1.25rem;
 text-transform: uppercase;
}

/* Retrait de la fleche du dropdown*/
.dropdown-toggle::after {
    display:none
}

/*décalage de la page pour menu fixe*/
.conteneur-principal {
    margin-top: 83px;
}



/****************FOOTER**********/
footer {
    background-color: black;
    color: white;
}
.mailpoet_paragraph {
    display: inline-block;
}

.illu img {
        width: 100%;
        display: block;
}

.illu {
    background-color: white;
    color: black;
}

.sous-illu {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.asso {
    text-align: left;
    display: inline-block;
    line-height: 2rem;
}

.bas-page {
    font-size: 0.75rem;
}

.bas-page a{

    border-right: 1px solid white;
    line-height: 0.8rem;
    color: white;
}

.bas-page a:last-child{
    border-right: none;
}


.fa-instagram, .fa-facebook-f, .fa-twitter {
    font-size: 30px;
    color: black;
    margin-top: 10px;
}

.social {
    background-color: #CFCFCF;
    min-width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 1.5rem;
}

.social:hover {
    background-color: #d5d8d738;
}

footer .row:last-child {
    padding-bottom: 3px;
    margin-left: 10px;
    margin-right: 10px;
}


/******Contact*******/

.titre-section {
    width: max-width;
    border-bottom: 3px solid black;
    margin-bottom: 50px;
}

.contact {
    width: auto;
    text-align: center;
}

.formulaire {
    margin-bottom: 50px;
}

.asso-contact {
    margin-top: 20px;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea
{
    background-color: #E6E6E6;
    color: #8A8A8C;
    border: none;
    padding: 8px;
}

.wpcf7-form p {
    margin-bottom: -1rem;
}

.wpcf7-form .requis {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-align: left;
    margin-left: 20vw;
}

.wpcf7-form div {
    margin-top: 1rem;
}

.wpcf7-submit {
    margin-left: 50px;
}

@media (min-width:768px) {

    .wpcf7-form .requis {
        margin-left: 0px;
    }

    .wpcf7-submit {
        float: right;
    }

	.formulaire {
	    margin-right: 6.25rem;
        margin-left: 6.25rem;
	}

    .map-google {
        margin-left: 6.25rem;
        margin-right: 6.25rem;
    }

    .titre-section {
        margin-left: 6.25rem;
        width: 50%;
    }

    .asso-contact {
        text-align: left;
    }

    p label, p label input {
        width: 100%;
    }

    .wpcf7 {
        text-align: left;
    }
}

/*****************page Mentions légales************/
.mention {
    text-align: center;
    margin-top: 7rem;
}
.mention h1 {
    margin-top: 0;
    margin-bottom: 4rem;
}

.mention p {
    margin-bottom: 1.5rem;
}

.hebergement {
    text-align: left;
}

@media (min-width:768px) {

    .mention {
        text-align: left;
        margin-left: 5.5rem;
        margin-right: 5.5rem;
    }
}

/********** page cgv **********/

.cgv {
    max-width: 70%;
    margin: auto;
}
